body{
    background-color: rgb(93, 93, 201);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 5%;
}

.squareContainer{
    background-color: violet;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border:  1px black solid;
}

.square{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border: 0.2px rgb(139, 139, 139) solid;
    
}

.square:hover{
    border: 0.2px rgb(255, 255, 255) solid;
    background-color: pink;
}

.buttons{
    margin-bottom: 5%;
}